/* ------------------------------------------------------------------------------

  
  1.  Global

      1.1 General
      1.2 Typography
      1.3 Fields
      1.4 Buttons
      1.5 Icons
      1.6 Loader
      1.8 Colors

  2.  Navbar

      2.1 Navbar Desctop
      2.2 Navbar Mobile
      2.3 Navbar Fixed
      2.4 Navbar White
      2.6 Navbar Responsive
      2.5 Navbar 2

  3.  Masthead

      3.1 Revolution Slider
      
  4.  Sections
      
      4.1 Helpers
      4.2 Progress
      4.3 Carousels

          4.3.1 Dots
          4.3.2 Arrows
          4.3.3 Responsive

  5. Content

      5.1 Lines

  6. Projects
  7. Testimonials
  8. Footer



/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/

/* 1.1 General */

@import url("bootstrap.min.css");
@import url("aos.css");
@import url("owl.carousel.min.css");

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.625;
  color: #787878;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #07689f;
}

::selection {
  background-color: #07689f;
  color: #fff;
}

-webkit-::selection {
  background-color: #07689f;
  color: #fff;
}

::-moz-selection {
  background-color: #07689f;
  color: #fff;
}

/* 1.2 Typography */

/* @font-face {
  font-family: "swansearegular";
  src: url("../fonts/swansea-webfont.woff2") format("woff2"), url("../fonts/swansea-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "swanseabold";
  src: url("../fonts/swansea_bold-webfont.woff2") format("woff2"),
    url("../fonts/swansea_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

h1,
.h1 {
  font-family: "Roboto";
  font-size: 5.3125rem;
  font-weight: normal;
  line-height: 1;
  color: #000;
  margin: 2rem 0;
}

h2,
.h2 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 2.5625rem;
  line-height: 1.219;
  color: #000;
  margin: 2rem 0;
}

h3,
.h3 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.6725rem;
  line-height: 1.322;
  color: #000;
  margin: 1.5rem 0;
}

h4,
.h4 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.363636;
  color: #000;
  margin: 1.5rem 0;
}

h5,
.h5 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.4125;
  color: #000;
  margin: 1rem 0;
}

h6,
.h6 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #000;
  margin: 1rem 0;
  text-transform: uppercase;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
  color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover {
  text-decoration: none;
}

.font-weight-normal {
  font-family: "Roboto";
}

b,
strong,
.font-weight-bold {
  font-family: "Roboto";
  font-weight: normal;
}

mark {
  display: inline-block;
  background: #000;
  color: #fff;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #07689f;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a:hover,
a:focus {
  color: #07689f;
  outline: none;
}

a:focus {
  text-decoration: none;
}

.display-3 {
  font-size: 4.4rem;
  line-height: 1.1;
}

.size-md {
  font-size: 1.215rem;
}

/* 1.3 Fields */

.form-group {
  margin-bottom: 30px;
}

.form-control,
textarea.form-control {
  font-size: 1rem;
  height: 3.225em;
  border-radius: 0;
  padding-left: 22px;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

textarea.form-control {
  height: 7.9rem;
  padding-top: 1rem;
  resize: none;
}

.form-control:focus {
  border-color: #07689f;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #767676;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #767676;
}

.form-control::-webkit-input-placeholder {
  color: #767676;
}

label.error {
  border-color: #07689f;
  padding: 9px 0 0 0;
  font-size: 0.9rem;
}

.mc-label {
  padding: 9px 0 0 0;
  font-size: 0.9rem;
  color: #000;
}

.message {
  margin-bottom: 30px;
  display: none;
  color: #07689f;
}

/* 1.4 Buttons */

.btn {
  font-family: "Roboto";
  position: relative;
  display: inline-block;
  border: 0.2em solid #07689f;
  border-radius: 0;
  height: 3.22rem;
  padding: 1.1em 2.4em 1.15em !important;
  font-size: 0.875rem !important;
  line-height: 1 !important;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #07689f;
  border-width: 1px;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  background-color: #000;
  border-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.btn-dark {
  background: #000;
  border-color: #000;
}

.btn-dark:hover {
  background-color: #07689f;
  border-color: #07689f;
}

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
}

.btn .arrow {
  position: relative;
  width: 0.6rem;
  left: 0.6rem;
  top: -0.3rem;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  transition: all 0.3s ease !important;
}

.btn .arrow-top,
.btn .arrow-bottom {
  background: #fff;
}

.btn:hover .arrow {
  left: 0.8rem;
}

/* 1.5 Icons */

ion-icon {
  color: #07689f;
  font-size: 3.8rem;
  --ionicon-stroke-width: 17px;
}

.square-plus {
  position: relative;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: #07689f;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.square-plus:hover {
  background: #000;
}

.square-plus ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
  --ionicon-stroke-width: 35px;
}

.linear-icon {
  font-size: 3.125rem;
  color: #000;
}

.circle-icon {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  line-height: 4.5rem;
  font-size: 2.225rem;
  color: #fff;
  background: #07689f;
  border-radius: 50%;
}

.icon-plus {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  background: #000;
}

.icon-plus:before {
  content: "";
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background: #fff;
}

.icon-plus:after {
  content: "";
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  background: #fff;
}

/* 1.6 Loader */

.loader {
  position: absolute;
  z-index: 10;
  z-index: 1000;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #07689f;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* 1.7 Colors */

.text-dark {
  color: #000 !important;
}

a.text-dark:hover {
  color: #07689f !important;
  text-decoration: none;
}

.text-white {
  color: #fff !important;
}

.text-body {
  color: #787878 !important;
}

a.text-body:hover {
  text-decoration: none;
  color: #000 !important;
}

.text-primary {
  color: #07689f !important;
}

.text-opacity-white {
  color: rgba(255, 255, 255, 0.8);
}

/*-------------------------------------------------------------------------------
  2. Navbar
-------------------------------------------------------------------------------*/

.navbar {
  position: absolute;
  z-index: 300;
  width: 100%;
  padding: 0 15px;
  height: 5.9rem;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 3rem;
  }
}

.navbar,
.navbar a,
.navbar a:hover,
.navbar a:focus {
  color: #000;
}

.toggler {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: none;
  border: 0;
}

.toggler:focus {
  outline: none;
}

.toggler-icon {
  display: block;
  border-top: 2px solid #000;
  margin-top: 0.5rem;
}

.toggler-icon:first-child {
  margin-top: 0;
}

.navbar-brand,
.brand {
  font-family: "Roboto";
  font-size: 1.775rem;
  color: #000;
  padding: 0;
  line-height: 1.1;
}

.navbar-brand {
  /* text-shadow: 1px 1px 13px rgb(220, 255, 247, 0.6); */
  outline: none;
  position: absolute;
  margin-right: 4rem;
  color: #07689f;
}

.navbar-brand:hover,
.navbar-brand:focus,
.brand:hover,
.brand:focus {
  color: #000;
  text-decoration: none;
}

.navbar ul {
  margin-bottom: 0;
}

.navbar-desctop .social-icons {
  margin: 0 0 0 -1.5rem;
}

.navbar .phone {
  font-size: 1.1rem;
}

.navbar .social-icons {
  position: absolute;
  right: 0;
}

.social-icons {
  margin-left: -1.5rem;
}

.social-icons li {
  float: left;
  margin-left: 1.5rem;
}

.social-icons ion-icon {
  display: block;
  font-size: 1.2rem;
  color: #000;
  transition: all 0.3s ease;
}

.social-icons ion-icon:hover {
  color: #07689f;
}

/* 2.1 Navbar Desctop */

.navbar-desctop:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transition: all 0.3s ease;
}

.navbar-nav-desctop {
  font-family: "Roboto";
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

.nav-link {
  padding: 0;
}

.navbar-nav-desctop li a {
  color: #000;
  transition: all 0.3s;
}

.navbar-nav-desctop li a:hover {
  text-decoration: none;
}

.navbar-nav-desctop > li {
  position: relative;
  float: left;
  margin-left: 1.4rem;
  margin-right: 2.1rem;
}

.navbar-nav-desctop > li > a {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.navbar-nav-desctop > li > .active,
.navbar-nav-desctop > li > a:hover {
  /* color: #02b3b3; */
  color: #07689f;
  font-weight: 700;
}

.navbar-nav-desctop li ul {
  opacity: 0;
  visibility: hidden;
  padding: 0.4rem 1.8rem;
  position: absolute;
  top: 100%;
  left: -1.8rem;
  background: #fff;
  color: #000;
  min-width: 12rem;
  margin-left: -1.5rem;
  transition: all 0.3s linear;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.navbar-nav-desctop li:hover ul {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.navbar-nav-desctop li ul li {
  margin: 1.2rem 0;
}

.navbar-nav-desctop li ul li a {
  display: block;
}

.navbar-nav-desctop li ul .active a,
.navbar-nav-desctop li ul li:hover a {
  color: #07689f;
}

/* 2.2 Navbar Mobile */

.click-capture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 201;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s;
}

.navbar-mobile {
  align-items: baseline;
  flex-wrap: unset;
  padding: 2.4rem 4.5rem 1.3rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.language {
  margin-top: 0;
  font-size: 0.875rem;
}

.language li {
  float: left;
  margin-right: 1.3rem;
  text-transform: uppercase;
}

.language li:last-child {
  margin-right: 0;
}

.language li a {
  color: #000;
}
.language .active a,
.language a:hover {
  color: #07689f;
  text-decoration: none;
}

.navbar-mobile .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 3rem;
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 1;
}

.navbar-mobile .close:hover {
  opacity: 1;
  color: #07689f;
}

.head-med {
  font-size: 2.5rem;
  color: #56556e;
  font-family: "Roboto";
}

.father-resume {
  margin-top: 1rem;
}

.resume {
  color: #16213e;
  text-decoration: none;
  borderradius: 10px;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.resume:hover {
  text-decoration: none;
}

@media (max-width: 576px) {
  .head-med {
    font-size: 2rem;
    padding: 1rem;
    borderradius: 5px;
  }
  .software {
    color: white;
  }
  .father-resume {
    margin-left: 5rem;
    width: 50%;
  }
  .resume {
    margin-left: auto;
  }
}

@media (min-width: 576px) {
  .navbar-mobile {
    width: 50%;
    max-width: 32rem;
  }
}

.navbar-mobile-footer {
  margin-top: auto;
}

.navbar-nav-mobile {
  display: block;
  margin-top: 9vh;
}

.navbar-nav-mobile > li {
  margin-bottom: 3vmin;
}

.navbar-nav-mobile > li > a {
  font-family: "Roboto";
  color: #000;
  font-size: 2rem;
}

.navbar-nav-mobile .active > a,
.navbar-nav-mobile li a:hover {
  color: #07689f;
  text-decoration: none;
}

.navbar-nav-mobile li ul {
  display: none;
}

.navbar-nav-mobile li li {
  margin-bottom: 0.3rem;
}

.navbar-nav-mobile li li:first-child {
  padding-top: 0.5rem;
}

.navbar-nav-mobile li li a {
  font-family: "Roboto";
  color: #787878;
  font-size: 1rem;
}

.navbar-nav-mobile li .active a,
.navbar-nav-mobile li li:hover a {
  font-family: "Roboto";
  color: #000;
  font-size: 1rem;
}

.menu-is-open {
  overflow: hidden;
}

.menu-is-open .navbar-mobile {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.menu-is-open .click-capture {
  visibility: visible;
  opacity: 1;
}

/* 2.3 Navbar Fixed */

.navbar.fixed {
  position: fixed;
  z-index: 300;
  top: 0;
  height: 4.2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.navbar.fixed:before {
  height: 100%;
}

/* 2.4 Navbar White */

.navbar-white:not(.fixed) .navbar-brand,
.navbar-white:not(.fixed) .navbar-brand:hover,
.navbar-white:not(.fixed) .navbar-brand:focus,
.navbar-white:not(.fixed) .navbar-nav-desctop > li > a,
.navbar-white:not(.fixed) .navbar-nav-desctop > li > a,
.navbar-white:not(.fixed) .social-icons ion-icon,
.navbar-white:not(.fixed) .phone {
  color: #fff;
}

.navbar-white:not(.fixed) .navbar-nav-desctop > .active > a,
.navbar-white:not(.fixed) .navbar-nav-desctop > li:hover > a,
.navbar-white:not(.fixed) .social-icons ion-icon:hover {
  color: #02b3b3;
}

.navbar-white:not(.fixed) .toggler-icon {
  border-color: #fff;
}

/* 2.5 Navbar Responsive */

@media (max-width: 1550px) {
  .navbar-brand {
    position: relative;
  }

  .navbar .container {
    margin: 0;
  }
}

/* 2.6 Navbar 2 */

.navbar-2:not(.fixed) .navbar-nav-desctop > .active > a,
.navbar-2:not(.fixed) .navbar-nav-desctop > li:hover > a,
.navbar-2:not(.fixed) .social-icons ion-icon:hover {
  color: #fff;
}

/*-------------------------------------------------------------------------------
  3. Masthead
-------------------------------------------------------------------------------*/

main {
  overflow: hidden;
}

.masthead {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 9rem 0 8rem 0;
  background-position: left top;
  background-size: cover;
}

.masthead-2 {
  padding: 12rem 0 4rem 0;
}

.opener {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.blur-scroll {
  filter: blur(10px);
  transition: all 1s ease;
}

.blur-scroll.loaded {
  filter: blur(0);
}

.link-arrow {
  font-size: 1.215rem;
}

.link-arrow div {
  display: inline-block;
  vertical-align: middle;
}

.link-arrow .arrow {
  position: relative;
  top: -0.1rem;
  left: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4rem;
  transition: all 0.3s ease;
}

.link-arrow.text-white .arrow-top,
.link-arrow.text-white .arrow-bottom {
  background: #fff;
}

.link-arrow:hover {
  text-decoration: none;
}

.link-arrow:hover .arrow {
  left: 0.2rem;
  text-decoration: none;
}

/* 3.1 Revolution Slider */

.rev_slider {
  color: #fff;
}

.tp-parallax-wrap {
  z-index: 1 !important;
}

.tp-bullet {
  width: 27px;
  height: 6px;
}

/*-------------------------------------------------------------------------------
  4. Sections
-------------------------------------------------------------------------------*/

.section {
  padding: 7rem 0;
}

.section-sm {
  padding: 4.75rem 0;
}

.section-md {
  padding: 6.25rem 0;
}

@media (min-width: 768px) {
  .section {
    padding: 12.5rem 0;
  }
}

/* 4.1 Helpers */

@media (min-width: 768px) {
  .wide-lg {
    position: relative;
    z-index: 1;
    width: 133.3333%;
  }
}

.bg-gray {
  background: #f6f6f6;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.size-sm {
  font-size: 0.875rem;
}

.text-underline {
  text-decoration: underline;
}

[data-aos="blur"] {
  -webkit-fiter: blur(10px);
  filter: blur(10px);
}

.aos-animate[data-aos="blur"] {
  -webkit-fiter: blur(10px);
  filter: blur(0);
}

.pl-30px {
  padding-left: 30px;
}

@media (min-width: 768px) {
  .pl-md-30px {
    padding-left: 30px !important;
  }
  .pr-md-30px {
    padding-right: 30px !important;
  }
}

@media (min-width: 992px) {
  .pl-lg-30px {
    padding-left: 30px !important;
  }
  .pr-lg-30px {
    padding-right: 30px !important;
  }

  .pl-lg-0 {
    padding-left: 0 !important;
  }

  .pr-lg-0 {
    padding-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .pl-xl-0 {
    padding-left: 0px !important;
  }
  .pr-xl-0 {
    padding-right: 0px !important;
  }
}

/* 4.2  Progress */

.progress {
  height: 7px;
  border-radius: 0;
  background-color: #f1f1f1;
}

.progress-bar {
  position: relative;
  background-color: transparent;
  transition: all 0.3s ease;
}

.progress-bar-line {
  background: #07689f;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.progress-bar-line[data-aos="width"] {
  width: 0;
}

.aos-animate.progress-bar-line[data-aos="width"] {
  width: 100%;
}

/* 4.3 Carousels */

.works-carousel {
  overflow: hidden;
}

.experience-carousel .owl-item img {
  width: auto;
}

.testimonials-carousel .owl-item img {
  width: auto;
}

.testimonials-carousel .owl-prev {
  transform: none;
  top: 0;
  left: auto;
  right: 3.75rem;
  background: #f6f6f6 !important;
  margin-right: 15px;
}

.testimonials-carousel .owl-next {
  transform: none;
  top: 0;
  right: 0;
  background: #f6f6f6 !important;
}

.testimonials-carousel .owl-prev:hover,
.testimonials-carousel .owl-next:hover {
  background: #07689f !important;
}

.experience-number {
  font-size: 8rem;
  line-height: 1;
}

.experience-number .plus {
  vertical-align: top;
  font-size: 30%;
}

/* 4.3.1 Dots */

.owl-dots {
  width: 100%;
  margin-top: 3.5rem;
  text-align: center;
}

.owl-dot {
  display: inline-block;
  margin: 0 0.45rem;
}

.owl-dot:focus {
  outline: none;
}

.owl-dots span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #d6d6d6;
}

.owl-dot.active span {
  background-color: #07689f;
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff !important;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-next {
  left: auto;
  right: 30px;
}

.owl-prev:hover,
.owl-next:hover {
  background: #07689f !important;
  border-color: #07689f !important;
}

/* 4.3.2 Arrows */

.arrow {
  position: relative;
  width: 0.875rem;
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.arrow-top,
.arrow-bottom {
  background-color: #000;
  height: 2px;
  left: -10%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after,
.arrow-bottom:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.owl-prev:hover .arrow-top:after,
.owl-next:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.owl-prev:hover .arrow-bottom:after,
.owl-next:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.owl-prev .arrow {
  transform: scaleX(-1);
}

.owl-prev .arrow:active {
  transform: scaleX(-1) scale(0.9);
}

.arrow-top:after {
  background-color: #fff;
}

.arrow-bottom:after {
  background-color: #fff;
}

.arrows-nav .arrow {
  width: 1.225rem;
  height: 1.95rem;
}

.arrows-nav .prev .arrow {
  transform: scaleX(-1);
}

.arrows-nav .arrow-top:after,
.arrows-nav .arrow-bottom:after {
  background-color: red;
}

.arrows-nav .arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrows-nav .arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

/* 4.3.3 Responsive */

.section-right {
  margin-left: 15px;
}

.section-right .owl-item > div {
  width: 450px;
}

@media (min-width: 576px) {
  .section-right {
    margin-left: calc(50% - 255px);
  }

  .section-right .owl-item > div {
    width: 510px;
  }
}
@media (min-width: 768px) {
  .section-right {
    margin-left: calc(50% - 345px);
  }

  .section-right .owl-item > div {
    width: 690px;
  }
}

@media (min-width: 992px) {
  .section-right {
    margin-left: calc(50% - 465px);
  }

  .section-right .owl-item > div {
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .section-right {
    margin-left: calc(50% - 555px);
  }

  .section-right .owl-item > div {
    width: 740px;
  }
}

/*-------------------------------------------------------------------------------
  5. Content
-------------------------------------------------------------------------------*/

.content {
  position: relative;
  overflow: hidden;
}

/* 5.1 Lines */

.lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.lines div {
  height: 100%;
}

.lines .container .row {
  margin: 0;
}

.lines .container .row div {
  padding: 0;
}

.lines .container .row div:before,
.lines .container .row div:first-child:after,
.lines .container .row div:nth-child(2):after,
.lines .container .row div:nth-child(3):after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
}

.lines .container .row div:before {
  left: 0;
  right: auto;
}

.lines .container .row div:nth-child(2):after,
.lines .container .row div:nth-child(3):after {
  display: none;
}

@media (min-width: 768px) {
  .lines .container .row div:first-child:after {
    display: none;
  }

  .lines .container .row div:nth-child(2):after {
    display: block;
  }
}

@media (min-width: 992px) {
  .lines .container .row div:first-child:after,
  .lines .container .row div:nth-child(2):after {
    display: none;
  }

  .lines .container .row div:nth-child(3):after {
    display: block;
  }
}

.lines-white .container .row div:before,
.lines-white .container .row div:first-child:after,
.lines-white .container .row div:nth-child(2):after,
.lines-white .container .row div:nth-child(3):after {
  background-color: rgba(255, 255, 255, 0.1);
}

/*-------------------------------------------------------------------------------
  6. Projects
-------------------------------------------------------------------------------*/

.hover {
  margin: 0;
  overflow: hidden;
}

.hover figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 30px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
}

.hover figcaption mark.h3 {
  padding: 0.3rem 0.7rem 0.2rem;
}

.hover figcaption .category {
  font-size: 0.775rem;
  text-transform: uppercase;
  padding: 0.3rem 0.7rem 0.2rem;
}

.hover img {
  display: block;
  transition: all 0.3s ease;
}

.hover:hover img {
  transform: scale(1.1) rotate(-4deg);
}

.hover:hover figcaption {
  opacity: 1;
  transform: translateY(0) rotate(0);
}

.hover-2 {
  overflow: hidden;
}

.hover-2 img {
  display: block;
  transition: all 0.3s ease;
}

.hover-2 figcaption {
  position: absolute;
  left: 0;
  color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
}

.hover-2 figcaption:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #07679fbd;
  opacity: 0;
  transition: all 0.3s ease;
}

.hover-2 figcaption a {
  color: #fff;
}

.hover-2 figcaption a:hover {
  text-decoration: none;
}

.hover-2 figcaption p {
  margin: 0;
}

.hover-2 figcaption .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 30px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}

.hover-2 figcaption .inner .link-arrow {
  position: absolute;
  bottom: 30px;
}

.hover-2 .icon-plus {
  position: absolute;
  right: 30px;
  top: 30px;
}

.hover-2:hover img {
  transform: scale(1.2) rotate(-4deg);
}

.hover-2 figcaption:hover:before {
  opacity: 1;
}

.hover-2 figcaption:hover .inner {
  opacity: 1;
  transform: translate(0);
}

.masonry-item figure {
  margin: 0;
}

/*-------------------------------------------------------------------------------
  7. Testimonials
-------------------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-title {
    position: relative;
    top: -10rem;
  }
}

/*-------------------------------------------------------------------------------
  8. Footer
-------------------------------------------------------------------------------*/

footer {
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  body.fixed-footer .wrapper {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 992px) {
  body.fixed-footer footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  body.fixed-footer .wrapper {
    position: relative;
    margin-bottom: 750px;
    z-index: 200;
    background: #fff;
  }
}

.menu li a {
  color: #000;
}

.menu li {
  margin-bottom: 0.2rem;
}
.menu .active a,
.menu li:hover a {
  color: #07689f;
  text-decoration: none;
}

.make-font li a {
  font-size: 1.5rem;
}
